[submodule "go.stack-questions"]
	path = go.stack-questions
	url = ../go.stack-app.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = ../mtg.rabbitmq.git
[submodule "py.deduplicator"]
	path = py.deduplicator
	url = ../py.deduplicator.git
[submodule "go.message-tagger"]
	path = go.message-tagger
	url = ../go.message-tagger.git
